.results {
  display: flex;
  justify-content: flex-start;
  margin: 0 80px;
}

.results__list {
  list-style-type: none;
  padding: 0;
}

.results__text {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: max-content;
  margin: 5px 5px 0;
}
