.list {
  display: none;
}

.list__active {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0;
  margin: 10px auto;
}

.list__container {
  display: grid;
  grid-template-columns: 60px 500px 100px;
  gap: 10px;
  list-style-type: none;
  text-align: left;
  border: none;
  padding: 0;
  margin: 0;
}

.list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 10px 0;
}

@media screen and (max-width: 700px) {
  .list__container {
    grid-template-columns: 40px 190px 40px;
  }

  .list__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}
