.list {
  display: none;
}

.list__active {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0;
  margin: 10px auto;
}

.list__container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  border: none;
  padding: 0;
  margin: 0;
}

.list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 10px 0;
}

