.card {
  display: none;
}

.card__active {
  display: grid;
  grid-template-columns: 60px 500px 100px 20px;
  gap: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.card__text {
  text-align: start;
  font-weight: lighter;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  margin: 5px 0;
}

.card__vector {
  border: #000000 solid .5px;
}

.card__sum {
  text-align: end;
}

.card__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdbbbb;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .card__active {
    grid-template-columns: 40px 190px 40px 20px;
  }

  .card__text {
    font-size: 10px;
    line-height: 12px;
  }
}
