.announcement {
  padding: 0;
  margin: 30px auto;
}

.announcement__title,
.announcement__code {
  font-weight: 700;
  font-size: 30px;
  line-height: 22px;
}

.announcement__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.announcement__fieldset {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 14px;
  border: none;
  padding: 20px 0 0;
  margin: 0 auto;
}

.announcement__label {
  font-size: 12px;
  max-width: max-content;
  margin: 10px 0 5px 10px;
}

.announcement__input {
  align-self: center;
  width: 100%;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  text-align: start;
  font-style: normal;
  line-height: 20px;
  box-sizing: border-box;
  outline: none;
  border: #000000 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.announcement__textarea {
  max-width: 100%;
  min-height: 100px;
  max-height: 250px;
}

.announcement__btns {
  display: flex;
  column-gap: 30px;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-style: normal;
  line-height: 20px;
  border-color: #000000;
  text-align: center;
  font-size: 10px;
  max-width: 70%;
}

.announcement__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdbbbb;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  padding: 0 10px;
  cursor: pointer;
}

.announcement__btn:hover {
  opacity: .5;
}

.announcement__error {
  line-height: 10px;
  border-color: #000000;
  text-align: center;
  font-size: 10px;
  color: red;
  margin: 10px auto;
}

.announcement__select {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 100%;
  min-height: 187px;
  outline: none;
  border-radius: 5px;
  border: #000000 1px solid;
  padding: 5px 10px;
  margin: 0 0 10px;
  cursor: pointer;
}

.announcement__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .announcement__input,
  .announcement__textarea,
  .announcement__select
  {
    width: 70%;
  }

  .announcement__label {
    margin: 10px auto;
  }
}